.card {
  display: flex;
  flex-direction: column;

  width: 270px;
  height: 135px;
  padding: 25px 15px;
  background-color: var(--color-white);
  border-radius: 10px;
}
.img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.imgHeader {
  display: flex;
  padding-bottom: 15px;
}
